<!DOCTYPE html>
<html lang="en">
    <base href="/">
    <head>
        <script>
            (()=>{
                window.history.forward()
            })
        </script>
        <meta charset="utf-8">
        <title>Alumini Tracker - application of college aluminis</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h2>Alumini Tracker</h2>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>College Hour</h3>
                                            <p>Mon - Fri </p>  <p></p> 8:00 am - 9:00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Call Us</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>info@example.com</p>
                                            <p>admin@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <%-include('./AdminHeader.ejs') %>

            <!-- About Start -->
            <form action="/admin/adminAddEvent" method="post">
                <center> <%= message %> </center>
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                    <label for="eventName">Enter Event Name </label>
                                    <input type="text" name="eventName" id="eventName" placeholder="enter event name" class="form-control">

                                    <label for="eventStartDate">Event Start Date</label>
                                    <input type="date" name="eventStartDate" id="eventStartDate" class="form-control" >

                                    <label for="eventEndDate">Event End Date</label>
                                    <input type="date" name="eventEndDate" id="eventEndDate" class="form-control" >

                                    <label for="eventStartTime">Event Start Time</label>
                                    <input type="text" name="eventStartTime" id="eventStartTime" class="form-control" placeholder="enter start time">

                                    <label for="eventEndTime">Event End Time</label>
                                    <input type="text" name="eventEndTime" id="eventEndTime" class="form-control" placeholder="enter end time" >

                                    <label for="location">Enter Location</label>
                                    <input type="text" placeholder="enter location" name="location" id="location" class="form-control" >

                                    <label for="description">Enter full address</label>
                                    <textarea  placeholder="enter address" name="description" id="description" ></textarea>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                <label for="eventType">Enter type of Event</label>
                                <input type="text" placeholder="enter event type" name="eventType" id="eventType" class="form-control" >

                                <label for="criteria">Enter Criteria</label>
                                <input type="text" placeholder="enter Criteria" name="criteria" id="criteria" class="form-control" >

                                <label for="modeOfApply">Mode of Apply</label>
                                <select name="modeOfApply" id="modeOfApply" class="form-control">
                                    <option value="">Select Mode</option>
                                    <option value="Online">Online</option>
                                    <option value="Offline">Offline</option>
                                    <option value="Both">Both</option>
                                </select>

                                <label for="startDate">Select Start Date</label>
                                <input type="date"  name="startDate" id="startDate" class="form-control">

                                <label for="endDate">Select End Date</label>
                                <input type="date"  name="endDate" id="endDate" class="form-control">

                                <input type="submit" value="Add Event"  class="btn btn-block btn-primary">
                                
                                <input type="reset" value="reset"  class="btn btn-block btn-danger">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <!-- About End -->

            <%-include('./footer.ejs')%>

        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
