<!DOCTYPE html>
<html lang="en">
    <base href="/">
    <head>
        <meta charset="utf-8">
        <title>Alumini Tracker - application of college aluminis</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h2>Alumini Tracker</h2>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>College Hour</h3>
                                            <p>Mon - Fri </p>  <p></p> 8:00 am - 9:00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Call Us</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>info@example.com</p>
                                            <p>admin@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <%-include('./navBar.ejs')%>

            <!-- About Start -->
            <form action="/alumini/aluminiRegistration" method="post" enctype="multipart/form-data">
                <center> <%= message %> </center>
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                    <label for="username">Enter Username </label>
                                    <input type="text" name="username" id="username" placeholder="enter user name" class="form-control">

                                    <label for="email">Enter Email</label>
                                    <input type="email" name="email" id="email" placeholder="Enter Email" class="form-control" >

                                    <label for="password">Enter password</label>
                                    <input type="password" name="password" id="password" placeholder="enter password" class="form-control" >

                                    <label for="contact">Enter Contact</label>
                                    <input type="text" name="contact" id="contact" class="form-control" placeholder="enter contact number">

                                    <input type="date" name="dob" id="dob" class="form-control"> <br>
                                    Gender
                                    <input type="radio" class="radio-inline" value="male" name="gender" id="male" ><label for="male">Male</label>
                                    <input type="radio" value="female" name="gender" id="female" class="radio-inline" ><label for="female">Female</label>
                                    <br>
                                    

                                    <label for="passOutYear">Enter Pass Out Year</label>
                                    <input type="number" placeholder="enter pass out year" name="passOutYear" id="passOutYear" class="form-control" >



                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                    <label for="stream">Select Stream</label><br>
                                    <select name="stream">
                                        <option value="MTech">MTech</option>
                                        <option value="BTech">BTech</option>
                                        <option value="MCA">MCA</option>
                                        <option value="BCA">BCA</option>
                                        <option value="MSc">MSc</option>
                                    </select><br>

                                    <label for="branch">Select branch</label><br>
                                    <select name="branch">
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Information Technology">Information Technology</option>
                                        <option value="Electronic Communication">Electronic Communication</option>
                                    </select>
                                    <br>
                                    <label for="experience">Select Experience</label><br>
                                    <select name="experience">
                                        <option value="6 months">6 months</option>
                                        <option value="1+ Year">1+ Year</option>
                                        <option value="3+ Year">3+ Year</option>
                                    </select><br>

                                <label for="currentCompany">Current Company</label>
                                <input type="text" placeholder="enter currentCompany"  name="currentCompany" id="currentCompany" class="form-control">

                                <label for="designation">Designation</label>
                                <input type="text"  name="designation" id="designation" placeholder="enter designation" class="form-control">

                                <label for="profile">Select Profile Pic</label>
                                <input type="file" name="profile" id="profile">
                                
                                <label for="linkedIn">Enter LinkedIn link</label>
                                <input type="text" name="linkedIn" id="linkedIn" placeholder="Enter LinkedIn">

                                <input type="submit" value="Register"  class="btn btn-block btn-primary">
                                
                                <input type="reset" value="reset"  class="btn btn-block btn-danger">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <!-- About End -->

            <%-include('./footer.ejs')%>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
