            <div class="nav-bar">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto">
                                <a href="/alumini/aluminiHome" class="nav-item nav-link">Home</a>
                                <a href="/alumini/aluminiViewEvents" class="nav-item nav-link">Events</a>
                                <a href="/alumini/aluminiJobs" class="nav-item nav-link">Jobs</a>
                                <a href="/alumini/aluminiViewGallery" class="nav-item nav-link" >Gallery</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Forum</a>
                                    <div class="dropdown-menu">
                                        <a href="/alumini/aluminiAddForumTopic" class="dropdown-item">Add Forum</a>
                                        <a href="/alumini/aluminiViewForumList" class="dropdown-item">View My Forum</a>
                                        <a href="/alumini/aluminiViewAllForumList" class="dropdown-item">View all Forums</a>
                                        
                                    </div>
                                </div>
                                 <a href="/alumini/aluminiLogout" class="nav-item nav-link">Logout</a>

                            </div>

                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->