<!DOCTYPE html>
<html lang="en">
    <base href="/">
    <head>
        <meta charset="utf-8">
        <title>Alumini Tracker - application of college aluminis</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Construction Company Website Template" name="keywords">
        <meta content="Construction Company Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/flaticon/font/flaticon.css" rel="stylesheet"> 
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div class="wrapper">
            <!-- Top Bar Start -->
            <div class="top-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo">
                                <a href="index.html">
                                    <h2>Alumini Tracker</h2>
                                    <!-- <img src="img/logo.jpg" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7 d-none d-lg-block">
                            <div class="row">
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-calendar"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>College Hour</h3>
                                            <p>Mon - Fri </p>  <p></p> 8:00 am - 9:00 pm</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-call"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Call Us</h3>
                                            <p>+012 345 6789</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="top-bar-item">
                                        <div class="top-bar-icon">
                                            <i class="flaticon-send-mail"></i>
                                        </div>
                                        <div class="top-bar-text">
                                            <h3>Email Us</h3>
                                            <p>info@example.com</p>
                                            <p>admin@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->

            <%-include('./aluminiHeader.ejs')%>

            <!-- About Start -->
             <center><h1 style="color: red;"><%=message%></h1></center>
            <form action="/alumini/aluminiJobs" method="post" >
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                    <label for="post">Enter Post</label>
                                    <input type="text" name="post" id="post" placeholder="enter post" class="form-control">

                                    <label for="department">Enter Department</label>
                                    <input type="text" name="department" id="department" placeholder="Enter Department" class="form-control" >

                                    <label for="vacany">Enter number of vacany</label>
                                    <input type="number" name="vacancy" id="vacancy" placeholder="enter vacany" class="form-control" >

                                    <label for="salary">Enter salary</label>
                                    <input type="number" name="salary" id="salary" class="form-control" placeholder="enter salary">

                                    <label for="location">Enter location</label>
                                    <input type="text" placeholder="enter location" name="location" id="location" class="form-control" >

                                    <select name="bond" id="bond" class="form-control">
                                        <option value="">Bond(if any)</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="about-text">
                                    <label for="timings">Select timings</label><br>
                                    <select name="timings" id="timings" class="form-control">
                                        <option value="">Select Timings</option>
                                        <option value="8 am to 3 pm">8 am to 3 pm</option>
                                        <option value="9 am to 4 pm">9 am to 4 pm</option>
                                        <option value="10 am to 5 pm">10 am to 5 pm</option>
                                        <option value="11 am to 6 pm">11 am to 6 pm</option>
                                    </select><br>

                                    <label for="applyFromDate">Starting Date to Apply</label>
                                    <input type="date" name="applyFromDate" id="applyFromDate" class="form-control">

                                    <label for="applyTillDate">Ending Date to Apply</label>
                                    <input type="date" name="applyTillDate" id="applyTillDate" class="form-control">


                                    <label for="mode">Mode</label><br>
                                    <select name="mode" id="mode" class="form-control">
                                        <option value="">Select Mode</option>
                                        <option value="Fresher">Fresher</option>
                                        <option value="1+ Year">1+ Year</option>
                                        <option value="3+ Year">3+ Year</option>
                                        <option value="5+ Year">5+ Year</option>
                                        <option value="10+ Year">10+ Year</option>
                                    </select><br>

                                    <label for="type">Type</label>
                                    <select name="type" id="type" class="form-control">
                                        <option value="">Select Type</option>
                                        <option value="Full Time">Full Time</option>
                                        <option value="Part Time">Part Time</option>
                                    </select>
                                <input type="submit" value="Post Job"  class="btn btn-block btn-primary">
                                                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <!-- About End -->

            <%-include('./footer.ejs')%>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/isotope/isotope.pkgd.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>
</html>
